<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Image URL:" %>
    <%= f.text_field :imgurl %>
    <br/>
    <%= f.label "Price" %>
    <%= f.text_field :price %>
    <br/>
    <%= f.label "Author" %>
    <%= f.text_field :author %>
    <br/>
    <%= f.label "Description" %>
    <%= f.text_field :description %>
    <br/>

    
    <%= f.submit %>
  </div>
<% end %>
