<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Book Cover</th>
      <th>Author</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.imgurl) %></td>
        <td><%= product.author %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %><br/>
        <%= link_to 'Edit', edit_product_path(product) %> <br/>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
