<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fluid-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'VS Books', store_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="divider-vertical"></li>
        <li class=dropdown>
          <% if logged_in? %>
            <%= link_to "Logout", logout_path, method: :delete %> <br/>
          <% else %>
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
             <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
              <%= form_tag(controller: :sessions, action: :create) do %>
              <div class="form-group">
                <%= label_tag :username, "User Name" %>
                <%= text_field_tag :username , params[:username], placeholder: "User Name", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag :password, "Password" %>
                <%= password_field_tag :password, params[:password], placeholder: "Password", class: "form-control" %>
              </div>
              <%= submit_tag "Sign In", class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>