<!DOCTYPE html>
<html>
<head>
  <title>voidstart's books</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner"> voidstart books </div>
<div id="cols">
	<div id="sidepane">
		<a href="/">Home</a> <br/>
		<a href="/products">Products</a> <br/>
		<a href="/cart_items">Cart Items</a> <br/>
		<a href="/carts">Carts</a> <br/>
		<a href="/users">Users</a> <br/>
		<a href="/orders">Orders</a> <br/>
		<% if logged_in? %>
			<%= button_to "Logout", logout_path, method: :delete %> <br/>
		<% end %>
		<div id="cartpane">
			<% if @cart %>
				<% unless @cart.cart_items.empty? %>
					<%= render @cart %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div id="productpane">
		<%= yield %>
	</div>
</div>

</body>
</html>
