<!DOCTYPE html>
<html>
<head>
  <title>voidstart's books</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner"> voidstart books </div>
<div id="cols">
	<div id="sidepane">
		<a href="/">Home</a> <br/>
		<a href="/products">Products</a> <br/>
		<a href="/cart_items">Cart Items</a>
	</div>
	<div id="productpane">
		<%= yield %>
	</div>
	<div id="cartpane">
		<p>Your Cart</p>
		<div><%= render @cart %></div>
	</div>
</div>

</body>
</html>
